<main style="margin-bottom: 65px;">
  <div class="container" style="margin-top: 65px;">
    <div class="row">
      <div class="col-lg-6 col-md-6">

        <div class="card card-heighten">
          <h5 class="card-header" style="text-align: center;">Feedback/Inquiry</h5>
          <div class="card-body">
            <form class="text-center p-5" [formGroup]="mailForm">

              <input type="text" id="defaultContactFormName" formControlName="name" class="form-control mb-4"
                placeholder="Name">

              <input type="email" id="defaultContactFormEmail" formControlName="mail" [pattern]="emailPattern" class="form-control mb-4"
                placeholder="E-mail">

              <input type="number" id="defaultContactFormEmail" formControlName="phone" class="form-control mb-4"
                placeholder="Phone Number">

              <div class="form-group">
                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" formControlName="msg" rows="3"
                  placeholder="Message"></textarea>
              </div>
              <div class="row" style="text-align:start">
                <div class="col-md-12" *ngIf="mailForm.get('name').invalid && (mailForm.get('name').dirty || mailForm.get('name').touched)">
                  <label class="contact-form-error">*Name field is required</label>
                </div>
                <div class="col-md-12" *ngIf="mailForm.get('mail').invalid && (mailForm.get('mail').dirty || mailForm.get('mail').touched)">
                  <label class="contact-form-error">*E-mail field is required/Invalid Format</label>
                </div>
                <div class="col-md-12" *ngIf="mailForm.get('phone').invalid && (mailForm.get('phone').dirty || mailForm.get('phone').touched)">
                  <label class="contact-form-error">*Phone Number field is required</label>
                </div>
                <div class="col-md-12" *ngIf="mailForm.get('msg').invalid && (mailForm.get('msg').dirty || mailForm.get('msg').touched)">
                  <label class="contact-form-error">*Message field is required</label>
                </div>
              </div>
              <button class="btn btn-info btn-block" (click)="sendMail(mailForm.value)">Send</button>

            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="card">
          <h5 class="card-header" style="text-align: center;">Contact Information</h5>
          <div class="card-body">
            <section id="contact">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="card border-0">
                    <div class="card-body text-center">
                      <i class="fa fa-phone ico-font" aria-hidden="true"></i>
                      <h4 class="text-uppercase">call us</h4>
                      <div>
                        <table class="tg" style="margin:auto">
                          <tr>
                            <td class="tg-l2oz text-uppercase">En.Hilmi</td>
                            <td class="tg-1wig">&nbsp;:&nbsp;+6016-289 3735</td>
                          </tr>
                          <tr>
                            <td class="tg-1wig text-uppercase">En.Yusman</td>
                            <td class="tg-1wig">&nbsp;:&nbsp;+6019-700 3979</td>
                          </tr>
                          <tr>
                            <th class="tg-l2oz text-uppercase">En.Abe Foad</th>
                            <th class="tg-1wig">&nbsp;:&nbsp;+6013-5967511</th>
                          </tr>
                          <tr>
                            <td class="tg-l2oz text-uppercase">Fax</td>
                            <td class="tg-1wig">&nbsp;:&nbsp;+03-2164 8278</td>
                          </tr>
                        </table>
                      </div>
                      <!-- <p>+03-8322 3600(Tel),<br> +03-8322 7500(Fax),<br> +6016-289 3735(En.Hilmi),<br> +6019-700
                        3979(En.Yusman) </p> -->
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="card border-0">
                    <div class="card-body text-center">
                      <i class="fa fa-map-marker ico-font" aria-hidden="true"></i>
                      <h4 class="text-uppercase">office location</h4>
                      <address>NFORT MSC SDN BHD, <br> Suite 19.06 & 19.07,<br> Level 19, <br>Plaza 138(Annexed to
                        Hotel Maya), <br>138
                        Jalan Ampang, <br>50450 Kuala
                        Lumpur </address>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="card border-0">
                    <div class="card-body text-center">
                      <i class="fa fa-globe ico-font" aria-hidden="true"></i>
                      <h4 class="text-uppercase">email</h4>
                      <p>admin@implate.com.my</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>