#contact .card:hover i,#contact .card:hover h4{
	color: #87d37c;
}

.ico-font {
    font-size: 43px;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;word-break:normal;}
.tg .tg-1wig{font-weight:bold;text-align:left;}
.tg .tg-l2oz{font-weight:bold;text-align:left;}