<main style="margin-bottom: 65px;">
  <div class="container" style="margin-top: 65px;">
    <div class="row">
      <div class="col-lg-6 col-md-6">

        <div class="card">
          <h5 class="card-header" style="text-align: center;">Feedback/Inquiry</h5>
          <div class="card-body">
            <form class="text-center p-5">

              <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

              <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">

              <input type="number" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Phone Number">

              <div class="form-group">
                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
              </div>
              <div class="row">
                <div class="col-md-6 mx-auto d-flex justify-content-center">
                  <div class="custom-control custom-checkbox mb-4">
                    <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
                    <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
                  </div>
                </div>
              </div>
              <button class="btn btn-info btn-block" type="submit">Send</button>

            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="card">
          <h5 class="card-header" style="text-align: center;">Contact Information</h5>
          <div class="card-body">
            <section id="contact">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="card border-0">
                    <div class="card-body text-center">
                      <i class="fa fa-phone ico-font" aria-hidden="true"></i>
                      <h4 class="text-uppercase">call us</h4>
                      <p>+03-8322 3600(Tel), +03-8322 7500(Fax)</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="card border-0">
                    <div class="card-body text-center">
                      <i class="fa fa-map-marker ico-font" aria-hidden="true"></i>
                      <h4 class="text-uppercase">office location</h4>
                      <address>NFORT MSC SDN BHD, Plaza 138(Annexed to Hotel Maya), 138 Jalan Ampang, 50450 Kuala Lumpur </address>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="card border-0">
                    <div class="card-body text-center">
                      <i class="fa fa-globe ico-font" aria-hidden="true"></i>
                      <h4 class="text-uppercase">email</h4>
                      <p>http://al.a.noman1416@gmail.com</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>