<main style="margin-bottom: 65px;">
  <div class="container-fluid" style="margin-top: 65px;">
    <div class="row">
      <div class="col">
        <app-carousel></app-carousel>
      </div>
    </div>
  </div>
  <br />
  <div class="container-fluid">
    <!-- <div class="center">
      <app-about-card></app-about-card>
    </div> -->
    <div class="row">
      <div class="col-sm-10">
        <app-about-card></app-about-card>
      </div>
      <div class="col-sm-2" style="margin: auto;">
        <a class="btn btn-primary btn-lg active" style="width:100%" role="button" (click)="download(1)">Price Sheet</a>
        <a class="btn btn-primary btn-lg active" style="width:100%" role="button" (click)="download(2)">Tender Form</a>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" hidden id="buttonModal" data-toggle="modal" data-target="#centralModalInfo">
  </button>
  <!-- Central Modal Medium Info -->
  <div class="modal fade" id="centralModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <!-- <div class="modal-header">
                <p class="heading lead">Welcome</p>
    
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div> -->

        <!--Body-->
        <div class="modal-body" style="padding:0">
          <div class="text-center">
            <div style="text-align: center;">
              <img class="img-fluid " src="http://implate.com.my/demo/assets/announcement/announcement.jpg">
            </div>
            <!-- <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit iusto nulla aperiam blanditiis ad consequatur in dolores culpa, dignissimos, eius non possimus fugiat. Esse ratione fuga, enim,
                        ab officiis totam.</p> -->
          </div>
        </div>

        <!--Footer-->
        <div class="modal-footer justify-content-center" style="padding:0">
          <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Ok</a>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!-- Central Modal Medium Info-->
</main>