<main style="margin-bottom: 65px;">
  <div class="container" style="margin-top: 65px;">
    <div class="row" style="margin:auto">
      <div class="alert alert-warning" style="width: 100%;" role="alert">
        <h4 class="alert-heading">Promotions!</h4>
        <p>Promo Message</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">

            <!-- Grid row -->
            <div class="row">
              <div class=" col-md-12">
                <p>View and Select your plate number here</p>
              </div>
              <div class=" col-md-8">
                <div class="form-group">
                  <label for="exampleFormControlSelect1"></label>
                  <select class="form-control" id="selected">
                    <option>Diamond [1-10]</option>
                    <option>101-200</option>
                    <option>201-300</option>
                    <option>301-400</option>
                    <option>401-500</option>
                  </select>
                </div>
              </div>
              <!-- Grid column -->
              <div class="col-md-4">

                <div class="md-form">
                  <input type="search" [(ngModel)]="searchText" id="search" class="form-control" mdbInputDirective
                    [mdbValidate]="false">
                  <label for="search">Search Plate Number</label>
                </div>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <!--Table-->
            <table class="table table-striped">
              <!--Table head-->
              <thead>
                <tr>
                  <th style="width:80%">Plate Number</th>
                  <!-- <th style="width:15%;text-align: center;">Price</th> -->
                  <th style="width:15%;text-align: center;">Action</th>
                </tr>
              </thead>
              <!--Table head-->

              <!--Table body-->
              <tbody>
                <tr *ngFor="let data of search()">
                  <td style="width:80%;font-weight: 900;text-align: start;padding-left: 5%">{{data.plateNum}}</td>
                  <!-- <td style="width:15%;text-align: center;font-weight: 900;">{{data.price}}</td> -->
                  <td style="width:15%;text-align: center;"><button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button"
                      class="m-0" (click)="proceedBooking(data.plateNum)">Book Now</button></td>
                </tr>
              </tbody>
              <!--Table body-->
            </table>
            <!--Table-->

          </div>
        </div>
      </div>
    </div>
  </div>

</main>