<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="http://implate.com.my/demo/assets/carousel/tagline.png" alt="Tagline">
            <!-- <div class="mask rgba-black-light waves-light" mdbWavesEffect></div> -->
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="http://implate.com.my/demo/assets/carousel/ImageSlider1.jpg" alt="Third slide">
            <!-- <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div> -->
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="http://implate.com.my/demo/assets/carousel/ImageSlider2.jpg" alt="Third slide">
            <!-- <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div> -->
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="http://implate.com.my/demo/assets/carousel/ImageSlider3.jpg" alt="Third slide">
            <!-- <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div> -->
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="http://implate.com.my/demo/assets/carousel/ImageSlider4.jpg" alt="Third slide">
            <!-- <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div> -->
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="http://implate.com.my/demo/assets/carousel/ImageSlider5.jpg" alt="Third slide">
            <!-- <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div> -->
        </div>
    </mdb-carousel-item>
</mdb-carousel>
<!--/.Carousel Wrapper-->