<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
    <!--First slide-->
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="http://implate.com.my/demo/assets/carousel/tagline.png" alt="Tagline">
            <!-- <div class="mask rgba-black-light waves-light" mdbWavesEffect></div> -->
        </div>
    </mdb-carousel-item>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="http://implate.com.my/demo/assets/carousel/klcc-carousel.jpg" alt="Second slide">
            <!-- <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div> -->
        </div>
    </mdb-carousel-item>
    <!--/Second slide-->
    <!--Third slide-->
    <!-- <mdb-carousel-item>
        <div class="view w-100">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
    </mdb-carousel-item> -->
    <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->