<main style="margin-bottom: 65px;">
  <div class="container" style="margin-top:65px">
    <div class="row">
      <div class="col">
        <div class="card">
          <h5 class="card-header">About IM Series Plate</h5>
          <div class="card-body">


            <p class="card-text">The IM series number plate ranging from IM 1 to IM 9999 is a special series plate
              approved by Jabatan Pengangkutan Jalan for
              Environmental Management and Research Association of Malaysia ( ENSEARCH )</p>
            <br>
            <p class="card-text">The sale of special plate is undertaken by NFORT MSC SDN BHD as exclusive agent for
              ENSEARCH Association.</p>
            <br>

            <p class="card-text">Address:</p><br>
            <p class="card-text">NFORT MSC SDN BHD</p>
            <p class="card-text">Suite 19.06 & 19.07</p>
            <p class="card-text">Level 19</p>
            <p class="card-text">Plaza 138 (Annexed to Hotel Maya)</p>
            <p class="card-text">138 Jalan Ampang</p>
            <p class="card-text">50450 Kuala Lumpur</p>
            <p class="card-text">Malaysia</p><br>
            
            <p class="card-text">Phone : +6016-2893735 (En.Hilmi)</p>
            <p class="card-text">Phone : +6019-7003979 (En.Yusman)</p>
            <p class="card-text">Phone : +6013-5967511 (En.Abe Foad)</p>
            <p class="card-text">Fax : +603-21648278</p>
            <p class="card-text">E-mail : admin@implate.com.my</p>

          </div>
        </div>
      </div>
    </div>
  </div>

</main>