<main style="margin-bottom: 65px;">
  <div class="container" style="margin-top:65px">
    <div class="row">
      <div class="col">
        <div class="card">
          <h5 class="card-header">About IM Series Plate</h5>
          <div class="card-body">
            
            <p class="card-text">The IM series number plate ranging from 1 to 9999 is a special series plate approved by Jabatan Pengangkutan Jalan for Persatuan Bola Sepak Negeri Sarawak.</p>
            <br>
            <p class="card-text">The sale of special plate is undertaken by NFORT MSC SDN BHD a subsidiary company of FAS Holding and the holding company for Persatuan Bola Sepak Negeri Sarawak</p>
            <br>

            <p class="card-text">Address:</p><br>
            <p class="card-text">NFORT MSC SDN BHD</p>
            <p class="card-text">Plaza 138 (Annexed to Hotel Maya)</p>
            <p class="card-text">138 Jalan Ampang</p>
            <p class="card-text">50450 Kuala Lumpur</p>
            <p class="card-text">Malaysia</p><br>

            
            <p class="card-text">Tel :  +603-8322 3600</p>
            <p class="card-text">Fax :  +603-8322 7500</p>

          </div>
        </div>
      </div>
    </div>
  </div>

</main>