<mdb-card cascade="true" wider="true" reverse="true" class="my-4">

  <!-- Card content -->
  <mdb-card-body cascade="true" class="text-center no-margin">

    <!--Title-->
    <mdb-card-title>
      <h4>
        <strong>About IM Plate</strong>
      </h4>
    </mdb-card-title>

    <mdb-card-text>
      Plate IM is the latest special & Unique plate number registered with Road Transport Department Malaysia / Jabatan
      Pengangkutan Malaysia (JPJ) <br><br>
      Plate IM is open to all Malaysian citizens and organizations that are eligible to register a vehicle.
    </mdb-card-text>
  </mdb-card-body>

</mdb-card>